<!DOCTYPE html>
<html>
<head>
	{%load static%}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "css/login.css"%}">
	<title>Login</title>
</head>
<body>

	<script type="text/javascript">
		const isLoggedIn = {{isLoggedIn}};
	</script>
	<div id="app"></div>



	<div class='container grid'>

		<div style="font-family: 'Alegreya Sans',sans-serif;">
			<h2 class="display-4" >Start writing your heart out.</h2>
			<h2 class="display-4" > We won't judge.</h2>
			<p class="lead">Write Stroies, Essays, Poems, Personal Experiences, Notes, Tutorials, Code, Gibberish, Novels, Songs, Critiques, whatever you want. And we will make sure your content reach to as many readers as possible. And if you are a reader, we will try our best to provide an awesome reading experince. Contact us <a href="/feedback">here</a>, if you wanna chat....</p>
		</div>

		<hr>



		<div class='form-cont'>

			<form class="form-style" method="post" action="/login">
				{% csrf_token %}

				<div class="form-group">
					<label for="Email">Username</label>
					<input type="text" maxlength="50" class="form-control" id="InputEmail" placeholder="Awesome_Human_2021" name="uname">
				</div>

				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password" class="form-control" id="Password"placeholder="Our little secret" name="passwd">
				</div>

				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="is_logged_in" name='remember_me'>
					<label class="form-check-label" for="is_logged_in">Keep me logged in</label>
				</div>


				<button type="submit" class="btn btn-primary">LogIn</button>
				<br>
				<br>
				<span class="text-muted" style="font-size: 13.8px;"> Don't have an account yet ? <a href="/signup">Sign Up</a> and start writing now ! </span> 
				<br>
				<span class="text-muted" style="font-size: 13.8px;"> Forgot your password ? <a href="#" data-toggle="modal" data-target="#modalLoginForm">Click here</a> and we will help you out ! </span>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	function reset_password(){
		var el = document.getElementById('defaultForm-email').value;
		var csrf = '{% csrf_token %}';

		var url = 'http://127.0.0.1:8080/reset_password/';
		var form = $('<form action="' + url + '" method="post">' + csrf +
			'<input type="text" name="mail" value="' + el + '" />' +
			'</form>');
				$('body').append(form);
				form.submit();
				// console.error('Form submitted');


			}
</script>

		<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100">No worries, we will help you out</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" onclick="reset_password()">Send Link</button>
      </div>
    </div>
  </div>
</div>




		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script src="{% static "frontend/shared.js" %}"></script>
		<script src="{% static "frontend/index.js" %}"></script>
	</body>
	</html>